<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
    <title>Умный Город</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo_container">
                <img src="{{ url_for('static', filename='img/gerb.png') }}" alt="logo"/>
                <h2>Галочка</h2>
            </div>
            <form action="/login" method="get">
                <button class="signup" type="submit">Вход</button>
            </form>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <ul class="projects">
                <li>
                    <form action="/main" method="GET">
                        <button class="project" id="1" type="submit">
                            <p class="project_name">Грородское управление</p>
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/main" method="GET">
                        <button class="project" id="2">
                            <p class="project_name">Умное ЖКХ</p>
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/main" method="GET">
                        <button class="project" id="3">
                            <p class="project_name">Иновации для городской среды</p>
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/main" method="GET">
                        <button class="project" id="4">
                            <p class="project_name">Умный городской транспорт</p>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </main>
    </body>
</html>