<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0"/>
    <link rel="stylesheet" href="styles.css">
    <title>Умный Город</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo_container">
                <img src="img/logo.png" alt="logo">
                <h2>Галочка</h2>
            </div>
            <button class="signup"><a href="#">Вход</a></button>
        </header>
    </div>
    <main>
        <div class="wrapper">
            <ul class="projects">
                <li class="project">
                    <p class="project_name">Грородское управление</p>
                </li>
                <li class="project">
                    <p class="project_name">Умное ЖКХ</p>
                </li> 
                <li>
                    <p class="project_name">Иновации для городской среды</p>
                </li>
                <li>
                    <p class="project_name">Умный городской транспорт</p>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>