 <html>
     <head>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/headshoot.css') }}"/>
     </head>
     <body>
        <header>
            <div class="wrapper">
                <div class="logo_container">
                    <img src="{{ url_for('static', filename='img/gerb.png') }}" alt="logo">
                    <h2>Галочка</h2>
                </div>
                <form action="/login" method="post">
                    <button class="signup">Вход</button>
                </form>
            </div>
    </body>
    Здесь будут проекты
 </html>